section.container__about-me
    .about-me__who-i
        h2.who-i__title Обо мне
            .desc__text-about-header
                +icon('about-header')
        .who-i__desc
            img.who-i__avatar(src='assets/img/pic/avatar.png', alt='This is me' )
            h3.who-i__desc-title Кто я
            .who-i__desc-text
                p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
    .about-me__skills
        h3.skills__title Чем я могу быть вам полезен
        .skills__desc Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
        .skills__visualization
            .visualization__frontend
                h4.frontend__title Frontend
                ul.frontend__list
                    li.frontend__item
                        svg(width="120" height="120" class="item__circles")
                            circle(r="50" cx="60" cy="60" stroke="#ccc" fill="none")
                            circle(r="50" cx="60" cy="60" stroke="#86A77A" transform="rotate(-90 60 60  )" class="item__sector")
                        span.item__circles-text HTML5
                    li.frontend__item
                        svg(width="120" height="120" class="item__circles")
                            circle(r="50" cx="60" cy="60" stroke="#ccc" fill="none")
                            circle(r="50" cx="60" cy="60" stroke="#86A77A" transform="rotate(-90 60 60  )" class="item__sector")
                        span.item__circles-text CSS3
                    li.frontend__item
                        svg(width="120" height="120" class="item__circles")
                            circle(r="50" cx="60" cy="60" stroke="#ccc" fill="none")
                            circle(r="50" cx="60" cy="60" stroke="#86A77A" transform="rotate(-90 60 60  )" class="item__sector")
                        span.item__circles-text JavaScript & JQuery
            .visualization__backend
                h4.backend__title Backend
                ul.backend__list
                    li.backend__item
                        svg(width="120" height="120" class="item__circles")
                            circle(r="50" cx="60" cy="60" stroke="#ccc" fill="none")
                            circle(r="50" cx="60" cy="60" stroke="#86A77A" transform="rotate(-90 60 60  )" class="item__sector")
                        span.item__circles-text PHP
                    li.backend__item
                        svg(width="120" height="120" class="item__circles")
                            circle(r="50" cx="60" cy="60" stroke="#ccc" fill="none")
                            circle(r="50" cx="60" cy="60" stroke="#86A77A" transform="rotate(-90 60 60  )" class="item__sector")
                        span.item__circles-text mySQL
                    li.backend__item
                        svg(width="120" height="120" class="item__circles")
                            circle(r="50" cx="60" cy="60" stroke="#ccc" fill="none")
                            circle(r="50" cx="60" cy="60" stroke="#86A77A" transform="rotate(-90 60 60  )" class="item__sector")
                        span.item__circles-text Node.js& npm
                    li.backend__item
                        svg(width="120" height="120" class="item__circles")
                            circle(r="50" cx="60" cy="60" stroke="#ccc" fill="none")
                            circle(r="50" cx="60" cy="60" stroke="#86A77A" transform="rotate(-90 60 60  )" class="item__sector")
                        span.item__circles-text Mongo.db
            .visualization__workflow
                h4.workflow__title WorkFlow
                ul.workflow__list
                    li.workflow__item
                        svg(width="120" height="120" class="item__circles")
                            circle(r="50" cx="60" cy="60" stroke="#ccc" fill="none")
                            circle(r="50" cx="60" cy="60" stroke="#86A77A" transform="rotate(-90 60 60  )" class="item__sector")
                        span.item__circles-text Git
                    li.workflow__item
                        svg(width="120" height="120" class="item__circles")
                            circle(r="50" cx="60" cy="60" stroke="#ccc" fill="none")
                            circle(r="50" cx="60" cy="60" stroke="#86A77A" transform="rotate(-90 60 60  )" class="item__sector")
                        span.item__circles-text Gulp
                    li.workflow__item
                        svg(width="120" height="120" class="item__circles")
                            circle(r="50" cx="60" cy="60" stroke="#ccc" fill="none")
                            circle(r="50" cx="60" cy="60" stroke="#86A77A" transform="rotate(-90 60 60  )" class="item__sector")
                        span.item__circles-text Bower
