header.header
  div.header__container
    .Background
      canvas.Background-canvas
    div.wrapper__menu
      div.header__contacts
        ul.contacts__list
          li.contacts__item
            a.contacts__link(href='https://vk.com/qwerty86' target="_blank")
              //img(src=)
              +icon('vk', 'contacts__icons-menu')
          li.contacts__item
            a.contacts__link(href='https://github.com/artiii' target="_blank")
              +icon('github', 'contacts__icons-menu')
          li.contacts__item
            a.contacts__link(href='https://www.linkedin.com/in/arthur-shaydulin-10875412b' target="_blank")
              +icon('in', 'contacts__icons-menu')
      div.header__menu
        a.menu__link(href='#')
          +icon('hamburger')
        .menu__nav
          .nav__list
            .nav__item
              a.nav__link(href='/works.html') Мои работы
            .nav__item
              a.nav__link(href='/about.html') Обо мне
            .nav__item
              a.nav__link(href='/blog.html') Блог
            .nav__item
              a.nav__link(href='/') Главная
    div.wrapper__desc
      div.desc__avatar
        img.avatar__foto(src='./assets/img/pic/ava.png', alt='This is me')
      div.desc__text
        div.desc__name_blog Блог
        div.desc__desc-text_blog Статьи, которые я написал
      .desc__text-blog
        +icon('blog-header')
    div.header__arrow-down
      a.arrow-down__link(href='#blog')
        +icon('portf-arrow-down')
    .header__triangle
      svg(class="header__triangle-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 85" preserveAspectRatio="none")
        polygon( points="0,0   0,86   500.8,86   500.8,84.5")
        polygon( points="1000,0   1000,86   500,86   500,84.5")


