section.map-g
    div.map(id='map')
    //.map__container
    //    .map(id='map')
    //    img.map(src='assets/img/pic/map.png')
    .map__contacts
        h3.map__title Контакты
        ul.map__list
            li.map__item
                a.map__link(href='skype:aa.shaydulin?chat')
                    i.fa.fa-skype
                    span.map__text aa.shaydulin
            li.map__item
                a.map__link(href='mailto:aa.shaydulin@gmail.com')
                    i.fa.fa-envelope
                    span.map__text aa.shaydulin@gmail.com
            li.map__item
                a.map__link(href='skype:+7911469277?call')
                    i.fa.fa-phone
                    span.map__text +7 9111 469277
            li.map__item
                    i.fa.fa-map-marker
                    span.map__text Санкт-Петербург, пр. Непокореных 6/2