section.my-works
    .container__my-work
        h2.my-works__title МОИ РАБОТЫ
            .my-works__text-bg
                +icon('works-header')
        .my-works__slider
            .slider__left
                .left__wrapper
                    img.slider__img(src='./assets/img/pic/work-1.png', alt='My works')
            .slider__right
                .right__wrapper
                    h2.work__title САЙТ ШКОЛЫ ОНЛАЙН ОБРАЗОВАНИЯ
                    span.work__technology HTML , CSS, JAVASCRIPT
                    .block__button
                        a.button__link(href='#')
                            +icon('link')
                            span.button__text Посмотреть сайт