section.my-works
    .container
        h2.my-works__title МОИ РАБОТЫ
        .my-works__slider
            .slider__left
                img.slider__img(src='./assets/img/pic/work-1.png')
            .slider__right
                h2.work__title САЙТ ШКОЛЫ ОНЛАЙН ОБРАЗОВАНИЯ
                span.work__technology HTML , CSS, JAVASCRIPT
                .block__button
                    a.button__link(href='#')
                        +icon('link')
                        span.button__text Посмотреть сайт