section.what-about
    .container__what-about
        h2.what-about__title Что обо мне говорят
            .what-about__text-bg
                +icon('about-header')
        .what-about__desc
            .desc__list
                .desc__item
                    .desc__what-about-avatar
                        img.what-about-avatar__foto(src='./assets/img/pic/dima.png', alt='This is me')
                    .desc__text-what-about
                        span Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        i.fa.fa-quote-left
                    .desc__name-what-about
                        p.name-what-about__who Ковальчук Дмитрий
                        p.name-what-about__what-do — основатель Loftschool
                .desc__item
                    .desc__what-about-avatar
                        img.what-about-avatar__foto(src='./assets/img/pic/zar.png', alt='This is me')
                    .desc__text-what-about
                        span Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                        i.fa.fa-quote-left
                    .desc__name-what-about
                        p.name-what-about__who Зар Захаров
                        p.name-what-about__what-do — преподаватель
        .what-about__form
            form.form__block(action='#' name='feedback' id='form-login')
                h3.form__title Связаться со мной
                .wrapper__name
                input.form__name(type='text' id='user-name' name='user-name' placeholder='Имя' data-position='right' data-content="Вы не ввели имя")
                input.form__email(id='email' type='email' name='email' placeholder='Email' data-position='right' data-content="Вы не ввели Email")
                textarea.form__textarea(placeholder='Ваше сообщение' data-position='right' data-content="Вы не ввели ваше сообщение")
                input.form__button-send(type='submit' id='submit' name='send' value='Отправить')
                input.form__button-clear(type='reset' name='clear' value='Очистить')
        .what-about__arrow-up
            a.arrow-up__link(href='#')
                +icon('portf-arrow-up')
    img.what-about__list.what-about__list_1(src='./assets/img/pic/list1.png')
    img.what-about__list.what-about__list_2(src='./assets/img/pic/list2.png')
    img.what-about__list.what-about__list_3(src='./assets/img/pic/list3.png')
