.container__about-me {

  @extend %clearfix;
  //height: 100vh;
  //width: $container-width;
  //margin: 0 auto;
  background: $beige;

}

.about-me__who-i {
  max-width: 50%;
  //display: inline-block;
  vertical-align: top;
  background: $beige;
  float: left;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  @include tablets() {
    padding-top: 39px;
    float: none;
    max-width: none;
    vertical-align: baseline;

  }
}

.who-i__title {

  display: inline-block;
  float: left;
  vertical-align: top;
  font-family: "Sansus Webissimo", sans-serif;
  font-size: 66px;
  color: $grey;
  width: 40%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 2;
  &:after {
    content: '';
    display: block;
    width: 89px;
    height: 3px;
    background: $grey;
    position: absolute;
    bottom: -21%;
    right: 50%;
    transform: translate(50%, 50%);
  }

  @include desktop() {
    display: block;
    float: none;
    width: 100%;
  }
  @include tablets() {
    font-size: 49px;
  }

}


.who-i__desc {
  display: inline-block;
  float: right;
  vertical-align: top;
  width: 50%;
  padding: 21px 21px 21px 0;

  @include desktop() {
    display: block;
    width: 74%;
    padding-bottom: 0;
    margin: -5px 64px 0 0;
  }
  @include tablets() {
    margin: 0 auto;
    min-width: 476px;
    //width: auto;
    padding: 0;
    float: none;
  }

  @include phones() {
    width: 100%;
    min-width: inherit;
  }
}

.who-i__avatar {
  width: 100%;
  max-width: 443px;
  padding-bottom: 27px;
  @include desktop() {
    padding-bottom: 20px;
  }
  @include tablets() {
    padding-bottom: 50px;
  }
  @include phones() {
    width: 100%;
  }
}

.who-i__desc-title {
  font-family: "Sansus Webissimo", sans-serif;
  font-size: 35px;
  color: $grey;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 18px;
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 89px;
    height: 3px;
    background: $grey;
    position: absolute;
    bottom: -13%;
    right: 50%;
    transform: translate(50%, 50%);
  }
  @include desktop() {
    padding-bottom: 7px;
    margin: 0;
  }
  @include tablets() {
    font-size: 30px;
    margin: 0;
  }
  @include phones() {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

.who-i__desc-text {
  font-family: robotoregular, sans-serif;
  font-size: 16px;
  color: $grey;
  @include tablets() {
    font-size: 14px;
    padding-bottom: 34px;
  }
  @include phones() {
    padding: 0 12px;
    padding-bottom: 34px;
  }
}

.desc__text-about-header {
  width: 360px;
  height: 110px;
  left: 21%;
  top: 3%;
  transform: translate(-50%, -50%);
  position: absolute;

  @include desktop() {
    left: 52%;
  }
  @include phones() {
    width: 192px;
  }
}

.icon-about-header {
  fill: rgba(147, 196, 46, 0.1);
}

.who-i__desc-text {
  font-family: robotoregular, sans-serif;
  font-size: 16px;
  color: $grey;
}

.about-me__skills {
  width: 50%;
  float: right;
  box-sizing: border-box;
  background-color: rgb(244, 245, 240);
  height: 100%;
  padding-left: 40px;
  @include tablets() {
    padding: 0;
    padding-top: 41px;
    width: 100%;
  }
}

.skills__title {
  font-family: "Sansus Webissimo", sans-serif;
  font-size: 35px;
  color: $grey;
  text-transform: uppercase;
  max-width: 265px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-bottom: 62px;
  padding-top: 9px;
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 89px;
    height: 3px;
    background: $grey;
    position: absolute;
    bottom: 26%;
    right: 50%;
    transform: translate(50%, 50%);
  }
  @include tablets() {
    font-size: 30px;
    padding-bottom: 29px;
    &:after {
      bottom: 13%;
    }
  }
}

.skills__desc {
  font-family: robotoregular, sans-serif;
  font-size: 16px;
  color: $grey;
  padding-bottom: 57px;
  @include tablets() {
    font-size: 14px;
    max-width: 462px;
    margin: 0 auto;
    text-align: left;
  }
  @include tablets() {
    font-size: 14px;
    padding-bottom: 28px;
  }
  @include phones() {
    padding-right: 12px;
    padding-left: 12px;
  }
}

.skills__visualization {

}

.visualization__frontend {

}

.frontend__title {
  font-family: robotomedium, sans-serif;
  font-size: 28px;
  color: $grey;
  padding-bottom: 20px;
  margin: 0;
  @include tablets() {
    text-align: center;
    font-size: 21px;
  }
}

.frontend__list {
  @extend %clearfix;
  padding-bottom: 28px;
  @include tablets() {
    text-align: center;
    margin-right: -2.5rem;
  }
}

.frontend__item {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  padding-bottom: 30px;
}

.item__circles {
  fill: none;
  stroke-width: 20;
  width: 120px;
  height: 120px;
}

.item__sector {
  stroke-dasharray: 200 314;
  transition: all 1s;
}

.item__circles:hover .item__sector {
  stroke-dasharray: 314 314;
}

.item__circles-text {
  font-family: robotomedium, sans-serif;
  font-size: 14px;
  color: $green-dark;
  width: 70px;
  display: block;
  position: absolute;
  left: 25px;
  top: 50px;
  text-align: center;
}

.visualization__backend {

}

.backend__title {
  font-family: robotomedium, sans-serif;
  font-size: 28px;
  color: $grey;
  margin: 0;
  padding-bottom: 20px;
  @include tablets() {
    text-align: center;
    font-size: 21px;

  }
}

.backend__list {
  padding-bottom: 23px;
  @extend %clearfix;
  @include tablets() {
    text-align: center;
    margin-right: -2.5rem;
  }
}

.backend__item {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  padding-bottom: 30px;
}

.visualization__workflow {

}

.workflow__title {
  font-family: robotomedium, sans-serif;
  font-size: 28px;
  color: $grey;
  margin: 0;
  padding-bottom: 20px;
  @include tablets() {
    text-align: center;
    font-size: 21px;

  }
}

.workflow__list {
  padding-bottom: 40px;
  @extend %clearfix;
  @include tablets() {
    text-align: center;
    margin-right: -2.5rem;
  }
}

.workflow__item {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  padding-bottom: 30px;

}