.blog {
  padding-top: 60px;
  background: rgb(250, 248, 240);

}

.blog__container {
  @extend %clearfix;
  position: relative;
}

.blog__aside {
  width: 22%;
  float: left;
  text-align: right;
  padding-right: 6%;
  margin-left: 6%;
  @include tablets {
    position: absolute;
    right: 100%;
  }

}

.blog__aside_fixed {
  position: fixed;
  left: 0;
  top: 20px;
  @include tablets {
    position: absolute;
    left: auto;
    top: auto;
    right: 100%;
  }
}

.aside__list {
  max-width: 300px;
}

.aside-menu__item {
  padding: 15px 20px 15px 0;
  border-right: 3px solid transparent;
  &_active {
    border-right-color: $green-dark;
    .aside-menu__link{
      color: $green-dark;
      font-family: robotomedium, sans-serif;
    }

  }
}

.aside-menu__link {
  font-family: robotoregular, sans-serif;
  font-size: 16px;
  color: rgb(69, 90, 100);
  text-decoration: none;
  &:hover {
    color: $green-dark;
  }
}

.blog__content {
  max-width: 880px;
  box-sizing: border-box;
  float: left;
  margin-bottom: 200px;
  width: 58%;
  @include tablets() {
    float: none;
    max-width: 720px;
    margin: 60px 24px 200px 24px;
    width: 100%;
    padding-right: 5%;
  }
  @include phones() {
    padding: 0 10px 0 10px;
    margin-right: 0;
    margin-left: 0;
  }
}

.blog__content_fixed {
  margin-left: 36%;
  @include tablets {
    margin-left: auto;
  }
}

.blog__article {
  padding-bottom: 70px;
  border-bottom: 5px solid rgb(236, 235, 228);
  margin-bottom: 70px;
}

.article__title {
  font-family: "Sansus Webissimo", sans-serif;
  font-size: 35px;
  color: rgb(69, 90, 100);
  margin-bottom: 30px;
  @include tablets() {
    font-size: 30px;
  }
}

.article__data {
  font-family: robotoregular, sans-serif;
  font-size: 16px;
  color: rgba($green-dark, 0.7);
  margin-bottom: 30px;
  @include tablets() {
    font-size: 14px;
  }
}

.article__content {
  font-family: robotoregular, sans-serif;
  font-size: 16px;
  color: rgb(69, 90, 100);
  line-height: 1.625;
  @include tablets() {
    font-size: 14px;
  }
  @include phones() {
    padding-right: 15px;
  }
}

