footer {

}

.footer__container {

}

.footer__top {
  background: rgba($grey, 0.85);
  min-height: 147px;
}

.footer__list {
  @extend %clearfix;
  max-width: 1683px;
  margin: 0 auto;
  padding: 25px 10px 0px 30px;
}

.footer__item {
  display: inline-block;
  vertical-align: top;
}

.footer__item-desc {
  padding-right: 250px;
  @include tablets() {
    padding-right: 0;
  }
  @include phones() {
    width: 100%;
  }
}

.item__desc {
  max-width: 350px;
}

.item__desc_martin {
  @include tablets() {
    max-width: 700px;
  }
  @include phones() {
    max-width: 351px;
    margin: 0 auto;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.item__desc_loft {
  @include tablets() {
    max-width: 299px;
  }
  @include phones() {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 20px;
    //margin-bottom: 20px;
    margin: 0 auto 20px auto;
  }
}

.item__desc-text {
  font-family: robotolight_italic, sans-serif;
  font-size: 16px;
  color: rgba($white, 0.5);
  @include tablets() {
    font-size: 14px;
  }

}

.footer__item {
  padding-bottom: 5px;
}

.footer__item-menu {
  padding-right: 172px;
  @include tablets() {
    padding-right: 0;
  }
  @include phones() {
    //border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 20px;
    //margin-bottom: 20px;
    display: block;
    margin: 0 auto;
  }

}

.item__menu{
  width: 100%;
}

.item__menu-nav {
  padding-bottom: 21px;

}

.menu__list {
  @extend %clearfix;
  display: block;
  margin-right: -40px;
  @include phones() {
    margin: 0 auto;
    width:386px;
    margin-right: -1.5rem;
  }
}

.menu__item {
  display: inline-block;
  margin-right: 40px;
  float: left;
  //padding-right: 40px;
  @include phones() {
    margin-right: 8px;
  }
}

.menu-nav__link {
  text-decoration: none;
}

.menu-nav__text{
  font-family: robotobold, sans-serif;
  color: $white;
  transition: all 0.5s;
  &:hover {
    color: rgba($white, 0.5);
  }
  @include tablets() {
   font-size: 14px;
  }
}

.item__menu-socials {
  padding: 0 61px;
  @include phones() {
    width: 200px;
    margin: 0 auto;
  }
}

.contacts__list-footer {
}



.contacts__icons-menu_footer {
  height: 25px;
  fill: rgba($white, 0.5);
  transition: all .5s;
  &:hover {
    fill: rgba($white, 1);
  }
}

.icon-github,
.icon-in {
  height: 22px;
}

.contacts__list-footer {
  max-width: 170px;
}

.contacts__link-footer {

}


.footer__item {
  //display: block;
  margin: 0 auto;
}

.item__desc {

}

.item__desc-text {
  font-family: robotolight_italic, sans-serif;
  font-size: 16px;
  color: rgba($white, 0.5);
  @include tablets() {font-size: 14px}
  @include phones() {
    text-align: center;
  }
}

.item__desc-author {
  font-family: robotobold_italic, sans-serif;
  font-size: 16px;
  color: rgba($white, 0.5);
  @include tablets() {font-size: 14px}

}

.footer__bottom {
  background: rgba($green, 0.85);
  min-height: 38px;
  text-align: center;
  @include phones() {
    padding: 0 25px;
    padding-bottom: 5px;
  }
}

.bottom__text {
  font-family: robotolight, sans-serif;
  font-size: 16px;
  color: rgba($white, 1);
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  @include tablets() {font-size: 14px}

}

