.wrapper__hello {
  //background: url("../../assets/img/pic/water.jpg");
  //height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.welcome {
  width: 380px;
  height:395px;
  background: rgba(18, 38, 32, 0.6);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  display: block;
  @include phones() {
    margin: 0 auto;
    max-width: 380px;
    width: 96%;
  }
}

.wrapper__desc_hello {
  width: 350px;
  position: relative;
  left: 50%;
  top: 36%;
  transform: translate(-50%, -50%);
}

.desc__avatar_hello {
  margin-bottom: 8px;
}

.desc__name_hello{
  text-align: center;
  color: $white;
  font-family: robotomedium, sans-serif;
  font-size: 28px;
  margin-bottom: 8px;
  @include phones() {
    font-size: 21px;
  }

}

.desc__text_hello{
  padding: 0;
  margin-bottom: 35px;
}

.hello__contacts {
  width: 165px;
  margin: 0 auto;
}

.hello__contacts_hello {
  margin-right: -16px;
}

.hello__button{
  display: table;
  height: 45px;
  width: 100%;
  position: absolute;
  bottom: 0;
}


.hello__button-item {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 0 30px;
  transition: all 0.5s;
  text-decoration: none;
  border: 0;
  background-color: rgb(108, 156, 90);
  font-size: 16px;
  font-family: robotomedium;
  color: $white;
  opacity: 0.9;
  cursor: pointer;
  @include phones() {
    font-size: 14px;
  }
}

.form__button-works {
  border-radius: 0 0 0px 4px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);

  &:hover {
    background-color: rgb(78, 136, 57);
  }
  @include phones() {
    padding: 0px 0 0 5%;
  }
}

.form__button-about {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  &:hover {
    background-color: rgb(78, 136, 57);
  }
}

.form__button-blog {
  border-radius: 0 0 4px 0px;

  &:hover {
    background-color: rgb(78, 136, 57);
  }
}

.block__button_hello {
  &:hover {
    background-color: rgba($green-dark, 1);
  }
}

.button__link_hello {
  right: 100px;
  top: 24px;
  text-decoration: none;
  padding: 12px 14px;
  display: inline-block;
  position: absolute;
  border: 1px solid white;
  border-radius: 20px;
  transition: all 0.5s;
  &:hover {
    background: $green-dark;
    border: 1px solid $green;
  }
  @include phones() {
    right: 50%;
    transform: translateX(50%);

  }
}

.button__text {
  font-family: robotomedium, sans-serif;
  font-size: 16px;
  color: $white;
  @include phones() {
    font-size: 14px;
  }
}


.hello__copyright {
  color: white;
  text-align: center;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  @include phones() {
    font-size: 14px;
    bottom: 0;
  }

}

.authorization {
  width: 380px;
  height:395px;
  background: rgba(18, 38, 32, 0.6);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  display: none;
  @include phones() {
    margin: 0 auto;
    max-width: 380px;
    width: 96%;

  }
}

/*authorization*/

.authorization__title {
  font-family: "Sansus Webissimo";
  font-size: 35px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 60px;
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 89px;
    height: 3px;
    background: $white;
    position: absolute;
    bottom: -60%;
    right: 50%;
    transform: translate(50%, 50%);
  }
  @include phones() {
    font-size: 21px;
  }
}

.wrapper__login,
.wrapper__password {
  position: relative;
  height: 45px;
  width: 340px;
  margin: 0 auto;
  margin-bottom: 20px;
  @include phones() {
    width: 95%;

  }

}

.login__input,
.password__input {
  width: 100%;
  height: 45px;
  border-radius: 20px;
  max-width: 340px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  box-sizing: border-box;
  padding: 18px 0 16px 60px;
  outline: none;
  font-family: robotoregular;
  font-size: 16px;
  border: 0px;
  margin-bottom: 20px;
  position: relative;
  &:focus {
    border: 1px solid $green;
    box-sizing: border-box;
  }
  @include phones() {
    font-size: 14px;
  }
}

.login__icon {
  width: 44px;
  height: 42px;
  box-sizing: border-box;
  padding: 5px;
  background: rgb(240, 239, 233);
  position: absolute;
  left: 1px;
  top: 1px;
  border-radius: 50% 0 0 50%;
}

.fa-user,
.fa-key {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 16px;
  color: rgb(196, 203, 205);
  transform: translate(-50%, -50%);
}

.authorization__buttons {
  display: table;
  height: 45px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.button__link-authorization {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 50%;
  text-align: center;
  transition: all 0.5s;
  text-decoration: none;
  border: 0;
  background-color: rgb(108, 156, 90);
  font-size: 16px;
  font-family: robotomedium;
  color: $white;
  opacity: 0.9;
  cursor: pointer;
  @include phones() {
    font-size: 14px;
  }
}

.hello__button{
  display: table;
  height: 45px;
  width: 100%;
  position: absolute;
  bottom: 0;
  @include phones() {
    font-size: 14px;
  }
}


.button__link-authorization_back {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  &:hover {
    background-color: rgb(78, 136, 57);
  }
}

.button__link-authorization_login {
  border-radius: 0 0 4px 0px;

  &:hover {
    background-color: rgb(78, 136, 57);
  }
}

