/*clearfix doesn't support IE<8*/
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin desktop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}


@mixin tablets {
  @media screen and (max-width: 768px) {
    @content;
  }
}


@mixin phones {
  @media screen and (max-width: 480px) {
    @content;
  }
}