.container__what-about {
  background-image: url("../../assets/img/pic/What-about-bg.png");
  background-repeat: no-repeat;
  //background-size: cover;
  background-size: 100%  100%;
  //background-position: 50%;
  padding-bottom: 157px;
}

.what-about__title {
  font-family: sansus_webissimoregular;
  font-size: 63px;
  text-align: center;
  color: $grey;
  padding-top: 72px;
  padding-bottom: 70px;
  margin: 0;
  width: 350px;
  text-transform: uppercase;
  margin: 0 auto;
}

.desc__list {
  @extend %clearfix;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.desc__item {
  display: inline-block;
  max-width: 380px;
  float: left;
  padding-right: 19px;
}

.desc__what-about-avatar {
  overflow: hidden;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: inline-block;
  position: relative;
  left: 40%;
  padding-bottom: 10px;
}

.what-about-avatar__foto {
  display: block;
  height: 100%;
  width: 100%;
}

.desc__text-what-about {
  font-family: robotoitalic;
  font-size: 16px;
  color: rgb(93, 90, 85);
  text-align: left;
  line-height: 1.625;
  padding-bottom: 20px;
}

.name-what-about__who {
  font-size: 16px;
  font-family: robotobold_italic;
  color: rgb(78, 136, 57);
  text-align: center;
  margin: 0;
  padding-bottom: 5px;

}
.name-what-about__what-do {
  font-size: 16px;
  font-family: robotoitalic;
  color: $grey;
  text-align: center;
  margin: 0;
}

.what-about__arrow-up {
  position: relative;
  left: 50%;
  padding-bottom: 250px;
  margin: 0 auto;
}

.arrow-up__link {
  display: block;
  width: 26px;
  height: 26px;
}

.icon-portf-arrow-up {
  width: 26px;
  fill: rgba(194, 194, 193, 1);
  transition: all 0.5s;
  &:hover {
    fill: rgba($green-dark, 1);
  }
}

