.what-about{
  position: relative;
}

.container__what-about {
  background-image: url("../../assets/img/pic/what-about-bg.png");
  background-repeat: no-repeat;
  //background-size: cover;
  background-size: 100%  100%;
  //background-position: 50%;
  padding-bottom: 157px;

}

.what-about__title {
  font-family: sansus_webissimoregular, sans-serif;
  font-size: 63px;
  text-align: center;
  color: $grey;
  padding-top: 54px;
  padding-bottom: 54px;
  margin: 0;
  width: 350px;
  text-transform: uppercase;
  margin: 0 auto;
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 89px;
    height: 3px;
    background: $grey;
    position: absolute;
    bottom: 13%;
    right: 50%;
    transform: translate(50%, 50%);
  }
  @include tablets() {font-size: 49px}
  @include phones() {
    width: 190px;
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 54px;
    &:after {
      bottom: 19%;
    }
  }
}

.what-about__text-bg {
  width: 530px;
  height: 172px;
  left: 51%;
  top: 44%;
  transform: translate(-50%, -50%);
  position: absolute;
  @include phones() {
    width: 250px;
  }
}

.icon-about-header {
  fill: rgba(147, 196, 46, 0.1);
}

.desc__list {
  @extend %clearfix;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 70px;
  @include tablets() {
  }
}

.desc__item {
  display: inline-block;
  max-width: 380px;
  float: left;
  padding-right: 19px;
  @include tablets() {
    padding: 0;
    max-width: 360px;
    margin-left: 19px;
  }
  @include phones() {
    margin-bottom: 40px;
  }
}

.desc__what-about-avatar {
  overflow: hidden;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: inline-block;
  position: relative;
  left: 40%;
  padding-bottom: 10px;
}

.what-about-avatar__foto {
  display: block;
  height: 100%;
  width: 100%;
}

.desc__text-what-about {
  font-family: robotoitalic, sans-serif;
  font-size: 16px;
  color: rgb(93, 90, 85);
  text-align: left;
  line-height: 1.625;
  padding-bottom: 20px;
  position: relative;
  @include tablets() {font-size: 14px;}
  @include phones() {
    font-size: 14px;
    width: 100%;
  }

}

.fa-quote-left {
  position: absolute;
  left: 0%;
  top: -10%;
  font-size: 60px;
  color: rgba(147, 196, 46, 0.12);
  transform: translateY(-50%);

}

.name-what-about__who {
  font-size: 16px;
  font-family: robotobold_italic, sans-serif;
  color: rgb(78, 136, 57);
  text-align: center;
  margin: 0;
  padding-bottom: 5px;

}
.name-what-about__what-do {
  font-size: 16px;
  font-family: robotoitalic, sans-serif;
  color: $grey;
  text-align: center;
  margin: 0;
}

.what-about__arrow-up {
  position: relative;
  left: 50%;
  padding-bottom: 250px;
  margin: 0 auto;
}

.arrow-up__link {
  display: block;
  width: 26px;
  height: 26px;
}

.icon-portf-arrow-up {
  width: 26px;
  fill: rgba(194, 194, 193, 1);
  transition: all 0.5s;
  &:hover {
    fill: rgba($green-dark, 1);
  }
}

.what-about__list {
  position: absolute;
  z-index: -1;
  @include tablets() {
    display: none;
  }
}

.what-about__list_1 {
  top: 43%;
  left: 26%;;
}

.what-about__list_2 {
  top: 6%;
  left: 19%;
}

.what-about__list_3 {
  top: 34%;
  right: 17%;

}

