extends ../_template-about-me

block variables
  - var title = 'About me'

block content
  include ../common/_mixin
  include ../common/_header-about
  include ../common/_about-me
  include ../common/_map
