extends ../_template

block variables
    - var title = 'Home page'

block content
    include ../common/_mixin
    include ../common/_header
    include ../common/_my-works
    include ../common/_what-about
