extends ../_template

block variables
    - var title = 'My works'

block content
    include ../common/_mixin
    include ../common/_header-works
    include ../common/_my-works
    include ../common/_what-about
